<html>

<body>
  <div id="app">

    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <bu-nav>
            <bu-nav-brand>
              <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
              </a>
            </bu-nav-brand>
            <bu-nav-item>
              <a class="navbar-item">
                Home
              </a>
              <a class="navbar-item">
                Documentation
              </a>
            </bu-nav-item>
          </bu-nav>
        </div>
        <label for="menu-toggle" class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <input type="checkbox" id="menu-toggle" class="is-hidden" />
        <div class="nav-right nav-menu">


        </div>
      </div>
    </nav>

    <section class="main-content columns is-fullheight">

      <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">

        <ul class="menu-list">
          <li><a [routerLink]="['']" routerLinkActive="router-link-active">Introduction</a></li>
          <li><a [routerLink]="['/gettingstarted']" routerLinkActive="router-link-active">Getting Started</a></li>

          <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a></li>
          <li><a [routerLink]="['/menu']" routerLinkActive="router-link-active">Menu</a></li>
          <li><a [routerLink]="['/navbar']" routerLinkActive="router-link-active">NavBar</a></li>
          <li><a [routerLink]="['/message']" routerLinkActive="router-link-active">message</a></li>
          <li><a [routerLink]="['/card']" routerLinkActive="router-link-active">card</a></li>
          <li><a [routerLink]="['/model']" routerLinkActive="router-link-active">model</a></li>
          <li><a [routerLink]="['/panel']" routerLinkActive="router-link-active">panel</a></li>
        </ul>
      </aside>

      <div class="container column is-10">
        <div class="section">

          <div class="card">
            <div class="card-content">
              <div class="content">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
          <br />



        </div>
      </div>

    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <a href="https://www.netlify.com">
            <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" />
          </a>
        </div>
      </div>
    </footer>

  </div>
</body>

</html>
