.app{
  margin: 35px;
}
  
.footer {
  margin-top: -12px;
}
@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}

aside{
  position: fixed;
  width: 250px;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.doc-container{
  margin-right: 0;
}

.navbar-menu{
  margin-left: 30px;
    margin-top: 30px;
}