html, body, #app {
    height: 100%;
  }
  #app {
    min-height: 100%;
    /* //display: flex;
    //flex-direction: column; */
  }
  
  .footer {
    margin-top: -12px;
  }
  @media screen and (max-width: 768px) {
    #menu-toggle:checked + .nav-menu {
      display: block;
    }
  }