.scroll-to-top {
  display: block;
  background: #00d1b2;
  color: #ffffff;
  bottom: 4%;
  cursor: pointer;
  position: fixed;
  right: 20px;
  z-index: 999;
  font-size: 28px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.scroll-to-top:hover {
  background-color: #32dac1;
}
