<header class="bd-header">
  <div class="bd-header-titles">
    <h1 class="title">
      Elements
    </h1>
    <p class="subtitle is-4">
      Design the structure of your webpage with these CSS classes.
    </p>
  </div>
</header>
<hr />
<div class="parent-container">
  <div class="row">
    <div>
      <a class="header" [routerLink]="['/container']"
        ><i class="fas fa-box" aria-hidden="true"></i> Container</a
      >
      <p class="describtion">
        A simple container to center your content horizontally.
      </p>
    </div>
    <hr />
    <div>
      <a class="header" [routerLink]="['/hero']"
        ><i class="fas fa-magic" aria-hidden="true"></i> Hero</a
      >
      <p class="describtion">
        An imposing hero banner to showcase something.
      </p>
    </div>
  </div>
  <div class="row">
    <div>
      <a class="header" [routerLink]="['/footer']"
        ><i class="fas fa-road" aria-hidden="true"></i> Footer</a
      >
      <p class="describtion">
        A simple responsive footer which can include anything.
      </p>
    </div>
  </div>
</div>
