.bd-footer-link-title {
  color: #363636;
  font-size: 1.25rem;
  font-weight: 600;
}

.copyright-container {
  padding-top: 30px;
  a {
    margin: 5px;
  }
}

.badge-container {
  p {
    padding-top: 15px;
  }
}

.bd-footer-links {
  a {
    color: #363636;
  }
  a:hover {
    color: #3273dc;
  }
}
