<header class="bd-header">
    <div class="bd-header-titles">
        <h1 class="title">
            Components
        </h1>
        <p class="subtitle is-4">

            Advanced multi-part components with lots of possibilities.

        </p>
    </div>
</header>
<hr>

<div class="parent-container">
    <div class="row">
        <div>
            <a class="header" [routerLink]="['/card']" ><i class="fas fa-id-card"></i> Card </a>
            <p class="describtion">
                An all-around flexible and composable component.
            </p>
        </div>
        <hr>
        <div>
            <a class="header" [routerLink]="['/menu']"><i class="fas fa-bars"></i> Menu</a>
            <p class="describtion">
                A simple menu , for any type of vertical navigation.
            </p>
        </div>
        <hr>
        <div>
            <a class="header" [routerLink]="['/message']"><i class="fas fa-envelope"></i> Message</a>
            <p class="describtion">
                Colored message blocks, to emphasize part of your page.
            </p>
        </div>
    </div>
    <div class="row">
        <div>
            <a class="header" [routerLink]="['/navbar']"><i class="fas fa-minus"></i> Navbar</a>
            <p class="describtion">
                A responsive horizontal navbar that can support images, links, buttons, and dropdowns.
            </p>
        </div>
        <hr>
        <div>
            <a class="header" class="header" [routerLink]="['/modal']"><i class="fas fa-clone"></i> Modal</a>
            <p class="describtion">
                A classic modal overlay, in which you can include any content you want.
            </p>
        </div>
        <hr>
        <div>
            <a class="header" [routerLink]="['/panel']"><i class="fas fa-clipboard-list"></i> Panel</a>
            <p class="describtion">
                A composable panel, for compact controls.
            </p>
        </div>

    </div>

</div>