<h1 class="title is-2">
  Components
</h1>
<p class="subtitle is-4">
  Advanced multi-part components with lots of possibilities.
</p>
<hr />

<div buContainer class="nav-link-parent columns is-multiline">
  <a class="header column is-6" [routerLink]="['/card']">
    <div class="nav-link-container">
      <i class="fas fa-id-card" aria-hidden="true"></i> Card
      <p class="nav-link-description subtitle is-5">
        An all-around flexible and composable component.
      </p>
    </div>
  </a>
  <a class="header column is-6" [routerLink]="['/menu']">
    <div class="nav-link-container">
      <i class="fas fa-bars" aria-hidden="true"></i> Menu
      <p class="nav-link-description subtitle is-5">
        A simple menu, for any type of vertical navigation.
      </p>
    </div>
  </a>
  <a class="header column is-6" [routerLink]="['/message']">
    <div class="nav-link-container">
      <i class="fas fa-envelope" aria-hidden="true"></i> Message
      <p class="nav-link-description subtitle is-5">
        Colored message blocks, to emphasize part of your page.
      </p>
    </div>
  </a>
  <a class="header column is-6" [routerLink]="['/panel']">
    <div class="nav-link-container">
      <i class="fas fa-clipboard-list" aria-hidden="true"></i> Panel
      <p class="nav-link-description subtitle is-5">
        A composable panel, for compact controls.
      </p>
    </div>
  </a>
  <a class="header column is-6" [routerLink]="['/modal']">
    <div class="nav-link-container">
      <i class="fas fa-clone" aria-hidden="true"></i> Modal
      <p class="nav-link-description subtitle is-5">
        A classic modal overlay, in which you can include any content you want.
      </p>
    </div>
  </a>
  <a class="header column is-6" [routerLink]="['/navbar']">
    <div class="nav-link-container">
      <i class="fas fa-minus" aria-hidden="true"></i> Navbar
      <p class="nav-link-description subtitle is-5">
        A responsive horizontal navbar that can support images, links, buttons,
        and dropdowns.
      </p>
    </div>
  </a>
</div>