<markdown [src]="'assets/docs/model/model.md'" ></markdown>




<bu-modal  [open]="isModalActive">
        <bu-model-head>
            <bu-model-title>
                    Modal title
            </bu-model-title>
          
        </bu-model-head>
        <bu-model-content>
            <p>content</p>
        </bu-model-content>
        <bu-model-footer>
                <button class="button is-success">Save changes</button>
                <button class="button" (click)="closemodel()">Cancel</button>
        </bu-model-footer>
</bu-modal>
<button class="button" (click)="toggleModal()">open  model</button>

