<div>
    <markdown [src]="'assets/docs/hero/header-description.md'"></markdown>
</div>
<hr />
<div>
    <bu-hero>
        <div buContainer>
            <h1 class="title">
                Hero title
            </h1>
            <h2 class="subtitle">
                Hero subtitle
            </h2>
        </div>
    </bu-hero>
</div>
<div>
    <markdown [src]="'assets/docs/hero/default.md'"></markdown>
</div>
<hr />
<h2>Colors</h2>
<div>
    <markdown [src]="'assets/docs/hero/color-description.md'"></markdown>
</div>
<br />
<div>
    <bu-hero color='primary'>
        <div buContainer>
            <h1 class="title">
                Primary title
            </h1>
            <h2 class="subtitle">
                Primary subtitle
            </h2>
        </div>
    </bu-hero>
</div>
<div>
    <markdown [src]="'assets/docs/hero/color.md'"></markdown>
</div>
<br />
<bu-hero color='info'>
    <div buContainer>
        <h1 class="title">
            Info title
        </h1>
        <h2 class="subtitle">
            Info subtitle
        </h2>
    </div>
</bu-hero>
<br />
<bu-hero color='success'>
    <div buContainer>
        <h1 class="title">
            Success title
        </h1>
        <h2 class="subtitle">
            Success subtitle
        </h2>
    </div>
</bu-hero>
<br />
<bu-hero color='link'>
    <div buContainer>
        <h1 class="title">
            Link title
        </h1>
        <h2 class="subtitle">
            Link subtitle
        </h2>
    </div>
</bu-hero>
<br />
<bu-hero color='warning'>
    <div buContainer>
        <h1 class="title">
            Warning title
        </h1>
        <h2 class="subtitle">
            Warning subtitle
        </h2>
    </div>
</bu-hero>
<br />
<bu-hero color='danger'>
    <div buContainer>
        <h1 class="title">
            Danger title
        </h1>
        <h2 class="subtitle">
            Danger subtitle
        </h2>
    </div>
</bu-hero>
<br />
<bu-hero color='light'>
    <div buContainer>
        <h1 class="title">
            Light title
        </h1>
        <h2 class="subtitle">
            Light subtitle
        </h2>
    </div>
</bu-hero>
<br />
<bu-hero color='dark'>
    <div buContainer>
        <h1 class="title">
            Dark title
        </h1>
        <h2 class="subtitle">
            Dark subtitle
        </h2>
    </div>
</bu-hero>
<hr />
<h2>Sizes</h2>
<div>
    <markdown [src]="'assets/docs/hero/size-description.md'"></markdown>
</div>
<br />
<div>
    <bu-hero color='primary' size='medium'>
        <div buContainer>
            <div class="container">
                <h1 class="title">
                    Medium title
                </h1>
                <h2 class="subtitle">
                    Medium subtitle
                </h2>
            </div>
        </div>
    </bu-hero>
</div>
<div>
    <markdown [src]="'assets/docs/hero/medium-size.md'"></markdown>
</div>
<br />
<bu-hero color='info' size='large'>
    <div buContainer>
        <div class="container">
            <h1 class="title">
                Large title
            </h1>
            <h2 class="subtitle">
                Large subtitle
            </h2>
        </div>
    </div>
</bu-hero>
<div>
    <markdown [src]="'assets/docs/hero/large-size.md'"></markdown>
</div>
<br />
<bu-hero color='success' size='fullheight'>
    <div buContainer>
        <div class="container">
            <h1 class="title">
                Fullheight title
            </h1>
            <h2 class="subtitle">
                Fullheight subtitle
            </h2>
        </div>
    </div>
</bu-hero>
<div>
    <markdown [src]="'assets/docs/hero/fullheight-size.md'"></markdown>
</div>
<hr />
<h2>Gradients</h2>
<div>
    <markdown [src]="'assets/docs/hero/gradient-description.md'"></markdown>
</div>
<br />
<div>
    <bu-hero color='primary' size='medium' gradient=true>
        <div buContainer>
            <div class="container">
                <h1 class="title">
                    Primary bold title
                </h1>
                <h2 class="subtitle">
                    Primary bold subtitle
                </h2>
            </div>
        </div>
    </bu-hero>
</div>
<div>
    <markdown [src]="'assets/docs/hero/gradient.md'"></markdown>
</div>
<br />
<bu-hero color='info' size='medium' gradient=true>
    <div buContainer>
        <div class="container">
            <h1 class="title">
                Info bold title
            </h1>
            <h2 class="subtitle">
                Info bold subtitle
            </h2>
        </div>
    </div>
</bu-hero>
<br />
<bu-hero color='success' size='medium' gradient=true>
    <div buContainer>
        <div class="container">
            <h1 class="title">
                Success bold title
            </h1>
            <h2 class="subtitle">
                Success bold subtitle
            </h2>
        </div>
    </div>
</bu-hero>
<br />
<bu-hero color='warning' size='medium' gradient=true>
    <div buContainer>
        <div class="container">
            <h1 class="title">
                Warning bold title
            </h1>
            <h2 class="subtitle">
                Warning bold subtitle
            </h2>
        </div>
    </div>
</bu-hero>
<br />
<bu-hero color='danger' size='medium' gradient=true>
    <div buContainer>
        <div class="container">
            <h1 class="title">
                Danger bold title
            </h1>
            <h2 class="subtitle">
                Danger bold subtitle
            </h2>
        </div>
    </div>
</bu-hero>
<br />
<bu-hero color='light' size='medium' gradient=true>
    <div buContainer>
        <div class="container">
            <h1 class="title">
                Light bold title
            </h1>
            <h2 class="subtitle">
                Light bold subtitle
            </h2>
        </div>
    </div>
</bu-hero>
<br />
<bu-hero color='dark' size='medium' gradient=true>
    <div buContainer>
        <div class="container">
            <h1 class="title">
                Dark bold title
            </h1>
            <h2 class="subtitle">
                Dark bold subtitle
            </h2>
        </div>
    </div>
</bu-hero>