<h2>Colors</h2>
<div class="input-container">
    <input type="text" buInput placeholder="Normal input">
    <input type="text" buInput theme='primary' placeholder="Primary input">
    <input type="text" buInput theme='link' placeholder="Info input">
    <input type="text" buInput theme='info' placeholder="Success input">
    <input type="text" buInput theme='warning' placeholder="Warning input">
    <input type="text" buInput theme='danger' placeholder="Danger input">
</div>
<hr />
<h2>Sizes</h2>
<div class="input-container">
    <input type="text" buInput size='small' placeholder="Small input">
    <input type="text" buInput placeholder="Normal input">
    <input type="text" buInput size='medium' placeholder="Medium input">
    <input type="text" buInput size='large' placeholder="Large input">
</div>
<hr />
<h2>Styles</h2>
<div class="input-container">
    <input type="text" buInput rounded=true placeholder="Rounded input">
    <input type="text" buInput theme='primary' rounded=true placeholder="Rounded primary input">
    <input type="text" buInput theme='link' rounded=true placeholder="Rounded link input">
    <input type="text" buInput theme='info' rounded=true placeholder="Rounded info input">
    <input type="text" buInput theme='warning' rounded=true placeholder="Rounded warning input">
    <input type="text" buInput theme='danger' rounded=true placeholder="Rounded danger input">
</div>
<hr />
<h2>States</h2>
<div class="input-container">
    <input type="text" buInput placeholder="Normal input">
    <h4>Hover</h4>
    <input type="text" buInput hovered=true placeholder="Hovered input">
    <h4>Focus</h4>
    <input type="text" buInput focus=true placeholder="Focused input">
</div>