button{
    margin: 5px;
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
}

.btn-size{
    width:50%;
    align-items: center;
}

.btn-fullwidth button{
   margin: 5px;
}

.btn-inverted-style{
    background-color: #00d1b2;
    border-radius: 4px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative;
}