<button buButton>Button</button>
<hr />
<a buButton>Anchor</a>
<hr />
<h2>Colors</h2>
<div class="btn-container">
    <button buButton color='white'>White</button>
    <button buButton color='light'>Light</button>
    <button buButton color='dark'>Dark</button>
    <button buButton color='black'>Black</button>
    <button buButton color='text'>Text</button>
</div>
<hr />
<h2>Themes</h2>
<div class="btn-container">
    <button buButton theme='primary'>Primary</button>
    <button buButton theme='link'>Link</button>
    <button buButton theme='info'>Info</button>
    <button buButton theme='success'>Success</button>
    <button buButton theme='warning'>Warning</button>
    <button buButton theme='danger'>Danger</button>
</div>
<hr />
<h2>Light theme version</h2>
<div class="btn-container">
    <button buButton theme='primary' light=true>Primary</button>
    <button buButton theme='link' light=true>Link</button>
    <button buButton theme='info' light=true>Info</button>
    <button buButton theme='success' light=true>Success</button>
    <button buButton theme='warning' light=true>Warning</button>
    <button buButton theme='danger' light=true>Danger</button>
</div>
<hr />
<h2>Sizes</h2>
<div class="btn-container btn-size">
    <button buButton size='small'>Small</button>
    <button buButton>Default</button>
    <button buButton size='normal'>Normal</button>
    <button buButton size='medium'>Medium</button>
    <button buButton size='large'>Large</button>
</div>
<hr />
<h2>Displays</h2>
<div class="btn-container btn-fullwidth">
    <button buButton size='small' fullWidth=true>Small</button>
    <button buButton fullWidth=true>Default</button>
    <button buButton size='normal' fullWidth=true>Normal</button>
    <button buButton size='medium' fullWidth=true>Medium</button>
    <button buButton size='large' fullWidth=true>Large</button>
</div>
<hr />
<h2>Outlined Style</h2>
<div class="btn-container">
    <button buButton outlined=false>Outlined</button>
    <button buButton theme='primary' outlined=true>Outlined</button>
    <button buButton theme='link' outlined=true>Outlined</button>
    <button buButton theme='info' outlined=true>Outlined</button>
    <button buButton theme='success' outlined=true>Outlined</button>
    <button buButton theme='warning' outlined=true>Outlined</button>
    <button buButton theme='danger' outlined=true>Outlined</button>
</div>
<hr />
<h2>Inverted Style</h2>
<div class="btn-container btn-inverted-style">
    <button buButton theme='primary' inverted=true>Inverted</button>
    <button buButton theme='link' inverted=true>Inverted</button>
    <button buButton theme='info' inverted=true>Inverted</button>
    <button buButton theme='success' inverted=true>Inverted</button>
    <button buButton theme='warning' inverted=true>Inverted</button>
    <button buButton theme='danger' inverted=true>Inverted</button>
</div>
<hr />
<h2>Inverted Outlined Style</h2>
<div class="btn-container btn-inverted-style">
    <button buButton theme='primary' inverted=true outlined=true>Invert Outlined</button>
    <button buButton theme='link' inverted=true outlined=true>Invert Outlined</button>
    <button buButton theme='info' inverted=true outlined=true>Invert Outlined</button>
    <button buButton theme='success' inverted=true outlined=true>Invert Outlined</button>
    <button buButton theme='warning' inverted=true outlined=true>Invert Outlined</button>
    <button buButton theme='danger' inverted=true outlined=true>Invert Outlined</button>
</div>
<hr />
<h2>Rounded buttons</h2>
<div class="btn-container">
    <button buButton theme='primary' rounded=true>Rounded</button>
    <button buButton theme='link' rounded=true>Rounded</button>
    <button buButton theme='info' rounded=true>Rounded</button>
    <button buButton theme='success' rounded=true>Rounded</button>
    <button buButton theme='warning' rounded=true>Rounded</button>
    <button buButton theme='danger' rounded=true>Rounded</button>
</div>
<hr />
<h2>State: Hover</h2>
<div class="btn-container">
    <button buButton hovered=true>Hover</button>
    <button buButton theme='primary' hovered=true>Hover</button>
    <button buButton theme='link' hovered=true>Hover</button>
    <button buButton theme='info' hovered=true>Hover</button>
    <button buButton theme='success' hovered=true>Hover</button>
    <button buButton theme='warning' hovered=true>Hover</button>
    <button buButton theme='danger' hovered=true>Hover</button>
</div>
<hr />
<h2>State: Focus</h2>
<div class="btn-container">
    <button buButton focus=true>Focus</button>
    <button buButton theme='primary' focus=true>Focus</button>
    <button buButton theme='link' focus=true>Focus</button>
    <button buButton theme='info' focus=true>Focus</button>
    <button buButton theme='success' focus=true>Focus</button>
    <button buButton theme='warning' focus=true>Focus</button>
    <button buButton theme='danger' focus=true>Focus</button>
</div>
<hr />
<h2>State: Active</h2>
<div class="btn-container">
    <button buButton active=true>Active</button>
    <button buButton theme='primary' active=true>Active</button>
    <button buButton theme='link' active=true>Active</button>
    <button buButton theme='info' active=true>Active</button>
    <button buButton theme='success' active=true>Active</button>
    <button buButton theme='warning' active=true>Active</button>
    <button buButton theme='danger' active=true>Active</button>
</div>
<hr />
<h2>State: Loading</h2>
<div class="btn-container">
    <button buButton loading=true>Loading</button>
    <button buButton theme='primary' loading=true>Loading</button>
    <button buButton theme='link' loading=true>Loading</button>
    <button buButton theme='info' loading=true>Loading</button>
    <button buButton theme='success' loading=true>Loading</button>
    <button buButton theme='warning' loading=true>Loading</button>
    <button buButton theme='danger' loading=true>Loading</button>
</div>
<hr />