<markdown [src]="'assets/docs/panel/panel-text.md'"></markdown>
<br />
<div class="parent-container">
  <div class="component-container">
    <bu-panel>
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    </bu-panel>
  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/panel-example.md'" lineNumbers></markdown>
  </div>
</div>
<markdown [src]="'assets/docs/panel/color-panel.md'"></markdown>

<div class="parent-container">
  <div class="component-container">
    <bu-panel theme="primary">
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    </bu-panel>
  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/primary-panel.md'" lineNumbers></markdown>
  </div>
</div>

<div class="parent-container">
  <div class="component-container">
    <bu-panel theme="link">
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    </bu-panel>
  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/link-panel.md'" lineNumbers></markdown>
  </div>
</div>
<div class="parent-container">
  <div class="component-container">
    <bu-panel theme="info">
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    </bu-panel>
  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/info-panel.md'" lineNumbers></markdown>
  </div>
</div>
<div class="parent-container">
  <div class="component-container">
    <bu-panel theme="success">
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    </bu-panel>
  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/success-panel.md'" lineNumbers></markdown>
  </div>
</div>
<div class="parent-container">
  <div class="component-container">
    <bu-panel theme="warning">
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    </bu-panel>
  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/warning-panel.md'" lineNumbers></markdown>
  </div>
</div>
<div class="parent-container">
  <div class="component-container">
    <bu-panel theme="danger">
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    </bu-panel>
  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/danger-panel.md'" lineNumbers></markdown>
  </div>
</div>
