<markdown [src]="'assets/docs/panel/panel-text.md'"></markdown>
<br>
<div class="parent-container">
  <div class="component-container">
    <bu-panel >
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
    
      
    
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    
    </bu-panel>
    

  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/panel-example.md'"></markdown>
  </div>
</div>
<markdown [src]="'assets/docs/panel/color-panel.md'"></markdown>

<div class="parent-container">
  <div class="component-container">
    <bu-panel buPanel theme="primary">
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
    
      
    
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    
    </bu-panel>
    

  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/primary-panel.md'"></markdown>
  </div>
</div>

<div class="parent-container">
  <div class="component-container">
    <bu-panel buPanel theme="link">
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
    
      
    
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    
    </bu-panel>
    

  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/link-panel.md'"></markdown>
  </div>
</div>
<div class="parent-container">
  <div class="component-container">
    <bu-panel buPanel theme="info">
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
    
      
    
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    
    </bu-panel>
    

  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/info-panel.md'"></markdown>
  </div>
</div>
<div class="parent-container">
  <div class="component-container">
    <bu-panel buPanel theme="success">
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
    
      
    
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    
    </bu-panel>
    

  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/success-panel.md'"></markdown>
  </div>
</div>
<div class="parent-container">
  <div class="component-container">
    <bu-panel buPanel theme="warning">
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
    
      
    
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    
    </bu-panel>
    

  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/warning-panel.md'"></markdown>
  </div>
</div>
<div class="parent-container">
  <div class="component-container">
    <bu-panel buPanel theme="danger">
      <bu-panel-heading>
        Panel Header
      </bu-panel-heading>
    
      
    
      <bu-panel-block>
        Block 1
      </bu-panel-block>
      <bu-panel-block>
        Block 2
      </bu-panel-block>
      <bu-panel-block>
        Block 3
      </bu-panel-block>
    
    </bu-panel>
    

  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/panel/danger-panel.md'"></markdown>
  </div>
</div>
