<bu-nav color="info" fixed="true">
  <bu-nav-brand>
    <a buNavItem [routerLink]="['/']">
      <img
        class="navbar-logo"
        alt="ngx2-bulma"
        src="../../../assets/images/ngx2-bulma-banner.png"
      />
    </a>
    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="ngxBulmaNavbar"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </bu-nav-brand>
  <div id="ngxBulmaNavbar" class="navbar-menu">
    <bu-navbar-start>
      <a buNavItem [routerLink]="['']" routerLinkActive="router-link-active">Introduction</a>
      <bu-navbar-link title="Components">
        <bu-navbar-dropdown boxed="true">
          <a buNavItem [routerLink]="['components/menu']" routerLinkActive="router-link-active"
            >Menu</a
          >
          <hr class="navbar-divider" />
          <a buNavItem [routerLink]="['components/navbar']" routerLinkActive="router-link-active"
            >NavBar</a
          >
          <hr class="navbar-divider" />
          <a buNavItem [routerLink]="['components/message']" routerLinkActive="router-link-active"
            >Message
          </a>
          <hr class="navbar-divider" />
          <a buNavItem [routerLink]="['components/card']" routerLinkActive="router-link-active"
            >Card
          </a>
          <hr class="navbar-divider" />
          <a buNavItem [routerLink]="['components/modal']" routerLinkActive="router-link-active"
            >Modal
          </a>
          <hr class="navbar-divider" />
          <a buNavItem [routerLink]="['components/panel']" routerLinkActive="router-link-active"
            >Panel
          </a>
        </bu-navbar-dropdown>
      </bu-navbar-link>
      <bu-navbar-link title="Elements">
        <bu-navbar-dropdown boxed="true">
          <a buNavItem [routerLink]="['elements/box']" routerLinkActive="router-link-active">Box</a>
          <hr class="navbar-divider" />
          <a buNavItem [routerLink]="['elements/button']" routerLinkActive="router-link-active"
            >Button
          </a>
          <hr class="navbar-divider" />
          <a buNavItem [routerLink]="['elements/progress']" routerLinkActive="router-link-active"
            >Progress bar</a
          >
          <hr class="navbar-divider" />
          <a buNavItem [routerLink]="['elements/tag']" routerLinkActive="router-link-active">Tag</a>
        </bu-navbar-dropdown>
      </bu-navbar-link>
      <bu-navbar-link title="Form">
        <bu-navbar-dropdown boxed="true">
          <a buNavItem [routerLink]="['form/input']" routerLinkActive="router-link-active"
            >Input
          </a>
          <hr class="navbar-divider" />
          <a buNavItem [routerLink]="['form/textarea']" routerLinkActive="router-link-active"
            >Textarea
          </a>
        </bu-navbar-dropdown>
      </bu-navbar-link>
      <bu-navbar-link title="Layout">
        <bu-navbar-dropdown boxed="true">
          <a buNavItem [routerLink]="['layout/container']" routerLinkActive="router-link-active"
            >Container</a
          >
          <hr class="navbar-divider" />
          <a buNavItem [routerLink]="['layout/footer']" routerLinkActive="router-link-active"
            >Footer</a
          >
          <hr class="navbar-divider" />
          <a buNavItem [routerLink]="['layout/hero']" routerLinkActive="router-link-active">Hero</a>
          <hr class="navbar-divider" />
          <a buNavItem [routerLink]="['layout/tiles']" routerLinkActive="router-link-active"
            >Tiles</a
          >
        </bu-navbar-dropdown>
      </bu-navbar-link>
    </bu-navbar-start>
    <bu-navbar-end>
      <a buNavItem [routerLink]="['/core-team']" routerLinkActive="router-link-active">Core Team</a>
      <a
        class="social-icon"
        buNavItem
        href="https://github.com/ngx-builders/ngx-bulma"
        routerLinkActive="router-link-active"
        target="_blank"
        ><i class="fab fa-github"></i
      ></a>
      <a
        class="social-icon"
        buNavItem
        href="https://twitter.com/ngx_builders"
        routerLinkActive="router-link-active"
        target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>
    </bu-navbar-end>
  </div>
</bu-nav>
