<markdown [src]="'assets/docs/box/description.md'"></markdown>
<br />
<div class="parent-container">
  <div class="component-container">
    <bu-box>
      <h1 class="title is-2">John Smith</h1>
      <h2 class="subtitle is-4">Manager</h2>
      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
        fringilla egestas. Nullam condimentum luctus turpis.
      </p>
    </bu-box>
  </div>
  <div class="code-snippet-container">
    <markdown [src]="'assets/docs/box/default.md'" lineNumbers></markdown>
  </div>
</div>
