<div>
  <markdown [src]="'assets/docs/navbar/header-description.md'"></markdown>
</div>
<hr />
<div>
  <markdown [src]="'assets/docs/navbar/basic-navbar-description.md'"></markdown>
</div>
<br />
<bu-nav>
  <bu-nav-brand>
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" />
    </a>
    <a
      (click)="toggleBasicNavbar()"
      role="button"
      #navBurgerBasic
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="ngxBulmaNavbarBasic"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </bu-nav-brand>
  <div id="ngxBulmaNavbarBasic" class="navbar-menu" #navMenuBasic>
    <bu-navbar-start>
      <a buNavItem class="navbar-item">Home</a>
      <a buNavItem class="navbar-item">Documentation</a>
    </bu-navbar-start>
    <bu-navbar-end>
      <div buNavItem>
        <div class="button-container">
          <button buButton theme="primary">Sign up</button>
          <button buButton theme="light">Log in</button>
        </div>
      </div>
    </bu-navbar-end>
  </div>
</bu-nav>

<div>
  <markdown [src]="'assets/docs/navbar/basic-navbar.md'" lineNumbers></markdown>
</div>
<h2>Colors</h2>
<div>
  <markdown [src]="'assets/docs/navbar/color-description.md'"></markdown>
</div>
<br />
<bu-nav color="primary">
  <bu-nav-brand>
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28" />
    </a>
    <a
      (click)="toggleNavbarPrimary()"
      role="button"
      #navBurgerPrimary
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="ngxBulmaNavbarPrimary"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </bu-nav-brand>
  <div id="ngxBulmaNavbarPrimary" class="navbar-menu" #navMenuPrimary>
    <bu-navbar-start>
      <a buNavItem class="navbar-item">Home</a>
      <a buNavItem class="navbar-item">Documentation</a>
    </bu-navbar-start>
    <bu-navbar-end>
      <div buNavItem>
        <div class="button-container">
          <button buButton theme="primary">Sign up</button>
          <button buButton theme="light">Log in</button>
        </div>
      </div>
    </bu-navbar-end>
  </div>
</bu-nav>
<div>
  <markdown [src]="'assets/docs/navbar/color-primary.md'" lineNumbers></markdown>
</div>
<br />
<bu-nav color="link">
  <bu-nav-brand>
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28" />
    </a>
    <a
      (click)="toggleNavbarLink()"
      role="button"
      #navBurgerLink
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="ngxBulmaNavbarLink"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </bu-nav-brand>
  <div id="ngxBulmaNavbarLink" class="navbar-menu" #navMenuLink>
    <bu-navbar-start>
      <a buNavItem class="navbar-item">Home</a>
      <a buNavItem class="navbar-item">Documentation</a>
    </bu-navbar-start>
    <bu-navbar-end>
      <div buNavItem>
        <div class="button-container">
          <button buButton theme="primary">Sign up</button>
          <button buButton theme="light">Log in</button>
        </div>
      </div>
    </bu-navbar-end>
  </div>
</bu-nav>
<div>
  <markdown [src]="'assets/docs/navbar/color-link.md'" lineNumbers></markdown>
</div>
<br />
<bu-nav color="dark">
  <bu-nav-brand>
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28" />
    </a>
    <a
      (click)="toggleNavbarDark()"
      role="button"
      #navBurgerDark
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="ngxBulmaNavbarDark"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </bu-nav-brand>
  <div id="ngxBulmaNavbarDark" class="navbar-menu" #navMenuDark>
    <bu-navbar-start>
      <a buNavItem class="navbar-item">Home</a>
      <a buNavItem class="navbar-item">Documentation</a>
    </bu-navbar-start>
    <bu-navbar-end>
      <div buNavItem>
        <div class="button-container">
          <button buButton theme="primary">Sign up</button>
          <button buButton theme="light">Log in</button>
        </div>
      </div>
    </bu-navbar-end>
  </div>
</bu-nav>
<div>
  <markdown [src]="'assets/docs/navbar/color-dark.md'" lineNumbers></markdown>
</div>
<br />
