<markdown src="assets/docs/table/table-text.md"></markdown>
<br />

<h4>Default</h4>
<div class="columns">
  <div class="column is-6">
    <markdown src="assets/docs/table/table-default.md"></markdown>
  </div>
  <div class="column is-3">
    <table class="table" buTable>
      <thead>
        <tr>
          <th>One</th>
          <th>Two</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Three</td>
          <td>Four</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />

<h4>Bordered</h4>
<div class="columns">
  <div class="column is-6">
    <markdown src="assets/docs/table/table-bordered.md"></markdown>
  </div>
  <div class="column is-3">
    <table class="table" buTable bordered="true">
      <thead>
        <tr>
          <th>One</th>
          <th>Two</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Three</td>
          <td>Four</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />

<h4>Striped</h4>
<div class="columns">
  <div class="column is-6">
    <markdown src="assets/docs/table/table-striped.md"></markdown>
  </div>
  <div class="column is-3">
    <table class="table" buTable striped="true">
      <thead>
        <tr>
          <th>One</th>
          <th>Two</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Three</td>
          <td>Four</td>
        </tr>
        <tr>
          <td>Five</td>
          <td>Six</td>
        </tr>
        <tr>
          <td>Seven</td>
          <td>Eight</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />

<h4>Hoverable</h4>
<div class="columns">
  <div class="column is-6">
    <markdown src="assets/docs/table/table-hoverable.md"></markdown>
  </div>
  <div class="column is-3">
    <table class="table" buTable hoverable="true">
      <thead>
        <tr>
          <th>One</th>
          <th>Two</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Three</td>
          <td>Four</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />

<h4>Full Width</h4>
<div class="columns">
  <div class="column is-6">
    <markdown src="assets/docs/table/table-fullWidth.md"></markdown>
  </div>
  <div class="column">
    <table class="table" buTable fullWidth="true">
      <thead>
        <tr>
          <th>One</th>
          <th>Two</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Three</td>
          <td>Four</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />
