<markdown [src]="'assets/docs/container/text.md'"></markdown>
<h3>Default container</h3>
<div>
  <markdown [src]="'assets/docs/container/default.md'" lineNumbers></markdown>
</div>
<div buContainer>
  <div class="notification">This container is <strong>centered</strong> on desktop.</div>
</div>

<hr />
<h3>Fluid container</h3>
<div>
  <markdown [src]="'assets/docs/container/fluid.md'" lineNumbers></markdown>
</div>
<div buContainer type="fluid">
  <div class="notification">
    This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
    viewport size.
  </div>
</div>
<hr />
<h3>Breakpoint containers</h3>
<div>
  <markdown [src]="'assets/docs/container/widescreen.md'" lineNumbers></markdown>
</div>
<div buContainer type="widescreen">
  <div class="notification">
    This container is <strong>fullwidth</strong><em> until</em> the
    <code>$widescreen</code> breakpoint.
  </div>
</div>
<hr />
<div>
  <markdown [src]="'assets/docs/container/fullhd.md'" lineNumbers></markdown>
</div>
<div buContainer type="fullhd">
  <div class="notification">
    This container is <strong>fullwidth </strong> <em>until</em> the
    <code>$fullhd</code> breakpoint.
  </div>
</div>
