<markdown [src]="'assets/docs/progressbar/progressbar-text.md'"></markdown>
<h2>Default</h2>
<div class="parent-container">
    <div class="component-container">
        <progress buProgress value="15" max="100">15%</progress>
    </div>
    <div class="code-snippet-container">
        <markdown [src]="'assets/docs/progressbar/default.md'"></markdown>
    </div>
</div>
<hr />
<h2>Sizes</h2>
<div class="parent-container">
    <div class="component-container">
        <progress buProgress size='small' value="15" max="100">15%</progress>
        <progress buProgress value="30" max="100">30%</progress>
        <progress buProgress size='medium' value="45" max="100">45%</progress>
        <progress buProgress size='large' value="60" max="100">60%</progress>
    </div>
    <div class="code-snippet-container">
        <markdown [src]="'assets/docs/progressbar/size.md'" lineNumbers></markdown>
    </div>
</div>
<h2>Colors</h2>
<markdown [src]="'assets/docs/progressbar/color-text.md'"></markdown>

<div class="parent-container">
    <div class="component-container">
        <progress buProgress theme='dark' value="10" max="100">10%</progress>
        <progress buProgress theme='primary' value="15" max="100">15%</progress>
        <progress buProgress theme='link' value="30" max="100">30%</progress>
        <progress buProgress theme='info' value="45" max="100">45%</progress>
        <progress buProgress theme='success' value="60" max="100">60%</progress>
        <progress buProgress theme='warning' value="75" max="100">75%</progress>
        <progress buProgress theme='danger' value="90" max="100">90%</progress>
    </div>
    <div class="code-snippet-container">
        <markdown [src]="'assets/docs/progressbar/color.md'" lineNumbers></markdown>
    </div>
</div>
<hr />

<hr />
<h2>Indeterminate</h2>
<div class="parent-container">
    <div class="component-container">
        <progress buProgress theme='primary' size='small' max="100">15%</progress>
        <progress buProgress theme='danger' max="100">30%</progress>
        <progress buProgress theme='dark' size='medium' max="100">45%</progress>
        <progress buProgress theme='info' size='large' max="100">60%</progress>
    </div>
    <div class="code-snippet-container">
        <markdown [src]="'assets/docs/progressbar/indeterminate.md'" lineNumbers></markdown>
    </div>
</div>
